*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background img{
    position: absolute;
    margin-left: 300px;
    top: 80px;
    max-width: 450px;
    height: 400px;
    overflow: hidden;
}


@media only screen and (max-width: 1310px){
    .background img{    
    display: none;
      }
    }

@media only screen and (max-width: 1290px){
.background img{
    
  }
}







