:root {
  --background: #a45bdf ;
  --text-primary: black;
  --text-secondary: #647780;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 60px;
  background-color: var(--background)
}

.mainContainer{
  background-color: #fff;
  max-width: 920px;
  height: 509px;
  border-radius: 15px;
  margin-left: 33%;
  box-shadow: 0px 50px 50px -20px #35127A7F;
}

.container{
  max-width: 1140px;
  margin: auto;
  margin-left: 340px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1 {
  font-size: 42px;
  color: var(--text-primary);
  margin-bottom: 30px;
}

.accordion-simple > .active {
  display: block;
}

.accordion__faq .inactive{
  display: none;
}
.accordion__faq > div{
  background-color: var(--white);
  margin-bottom: 15px;
  padding: 0px 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 15px;
}

.accordion__faq > div p{
   position: absolute;
   margin-left: 2.3%;
}

.accordion__title{
  color: var(--text-secondary);
  padding-bottom: 20px;
  font-weight: 500;
}

.heading-name h1{
  position: relative;
  padding-right: 36%;
  padding-top: 40px;
  left: 5%;
}
.accordion__faq-heading{
  display: flex;
  margin-top: 55px;
  margin-left: 35px;
}
.accordion__faq-heading .active{
  color: var(--text-primary); 
}

.accordion__faq-heading :hover{
  color: #F47B56;
}

.accordion__faq-heading h3{
  color: var(--text-secondary);
  font-weight: 600;
}

.accordion__faq p {
  margin: 0px;
  padding-bottom: 30px;
  color: var(--text-secondary);
  line-height: 1.4;
}




@media only screen and (max-width: 1311px){
  .mainContainer{
    background-color: #fff;
    width: 770px;
    height: 500px;
    border-radius: 15px;
    margin-left: 33%;
    box-shadow: 0px 50px 50px -20px #35127A7F;
    float: none;
    margin-right: 0;
   transition: all 1s;
  }

  h1 {
    color: black;
    padding-left: 35%;
    top: 30px;
    float: none;
    transition: all 1s;
   }

   .accordion__faq-heading{
    display: flex;
    margin-left: 10%;
  }

  .accordion__faq > div p{
   display: flex;
   margin: 0 75px;
   z-index: 999;
  }
}


 @media only screen and (max-width: 1290px) {
  .mainContainer{
    background-color: #fff;
    width: 550px;
    height: 600px;
    border-radius: 15px;
    margin-left: 33%;
    box-shadow: 0px 50px 50px -20px #35127A7F;
    float: none;
    margin-right: 0;
   transition: all 1s;
  }

  .container{
    float: none;
    margin-right: 0;
    transition: all 1s;
  }
 
  h1 {
   color: black;
   padding-left: 35%;
   top: 40px;
   float: none;
   margin-right: 0;
   transition: all 1s;
  }
  .accordion__faq-heading{
    display: flex;
    top: 150px;
    left: 90px;
  }

} 
